<head>
    <script src="./navigation.js"></script>
    <script src="./footer.js"></script>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<div id="navigation-container"></div>
    <div class="about_container">
        <h1>About Us</h1>
        <p>Welcome to Our Bookstore! We are passionate about books and committed to providing a wide selection of books for all reading enthusiasts. Our goal is to inspire a love for reading and connect book lovers with their favorite titles.</p>
        <p>Currently books can't be ordered, but you can write to us and we will hold the books when they will arrive in our warehouse.</p>
        <p>If you have any questions or feedback, feel free to <a href="/components/contacts.html">contact us</a>.</p>
    </div>
<div id="footer-container"></div>